<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <form>
        <fieldset>
          <legend>Login Usuário/Senha</legend>

          <div class="form-group">
            <label for="form-lp-email">email</label>
            <input type="email" name="email" id="form-lp-email" value="" placeholder="seu@email.com" class="form-control" />
          </div>

          <div class="form-group">
            <label for="form-lp-senha">senha</label>
            <input type="password" name="senha" id="form-lp-senha" value="" placeholder="senha" class="form-control" />
          </div>

          <button type="submit" class="btn btn-primary" (click)="loginPass()">Login</button>
        </fieldset>
      </form>
    </div>

    <div class="col-sm-6">
      <a class="btn btn-warning" href="http://cadastros.dev/oauth/authorize?client_id=3&redirect_uri=http://localhost:4200/callback&response_type=code&scope=">Retrieve Client Code</a>
    </div>
    
  </div>
</div>
