<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <form>
        <div class="form-group">
          <label>Post Field</label>
          <input type="text" [(ngModel)]="fieldValue" name="postValue" class="form-control" />
        </div>
        <button class="btn btn-primary" (click)="enviarPost()">Post!</button>
      </form>

      <h1>Resposta:</h1>
      <p class="lead" *ngIf="fieldResponse">
        {{fieldResponse['post-data']}}
      </p>

    </div>
  </div>
</div>
